.logo{
    display: flex;
    justify-content: space-between;
}
.image{
    flex-basis: 22%;
    cursor: pointer;
    margin-top: 20px;
}
.logo img:hover{
    border: 4px solid #ff4500 !important;
}
img{
    border-radius: 8%;
}
.col-5{ 
    margin-left: 100px;
    position: relative;
    top: 10px;
}
p{
    color: #ff4500;
}
span{
    color: #a9a9a9;
}
h4{ 
    position: relative;
    top: 10px;
}
h5{
    margin-left: 6rem;
    position: relative;
    bottom: 1.5rem; 
    background-color: #ff4500; 
    width: 35px; 
    color: #fff; 
    border-radius: 4px;
    font-size: 16px;
}
h6 hr{
    width: 60px;
    position: relative;
    bottom: 27px; 
    color: #000;
}
h6{ 
    color: #a9a9a9;
}
.buttons{
    width: 250px;
    height: 46px;
    position: relative;
    left: 10rem;
    background-color: #ff4500;
    border: #ff4500;
    border-radius: 8px; 
    color: #fff;
}
.buttons i {
    margin-right: 10px;
}
.wrapper{
    width: 140px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdb6b3;
    font-size: 32px;
    position: relative;
    bottom: 47px;
    border-radius: 8px;
}
.wrapper span{
    color: #000;
}
.wrapper button{
     border: none;
     background-color: transparent;
}
section{ 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
